@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      font-family: Mabry Pro, sans-serif;
    }
  }

  /* import font url */
  @import url(//db.onlinewebfonts.com/c/e4397c6cf12af9f58d46e124d18d6d93?family=Mabry+Pro);

  @font-face {font-family: "Mabry Pro"; src: url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.eot"); src: url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.woff") format("woff"), url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e4397c6cf12af9f58d46e124d18d6d93.svg#Mabry Pro") format("svg"); }